# Don't commit ROMs
*.nes
*.nsf

# Build folder for cmake
build/

# Temporary files
temp/

# ImGui config files
imgui.ini

# Saves
game/save_states/*.sav
AP_*/
APCpp_datapkg.cache

# Release staging folder
release/
